:root {
  /* --mantine-color-blue-filled:  */
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.underline-none {
  text-decoration: none;
}

.container-hero {
  position: relative;
  height: 100vh;
}

.container-hero .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.container-hero .overlay .overlay-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.container-hero .overlay .overlay-text .card {
  /* background: rgba(255, 255, 255, 0.8); */
  background: rgba(58, 63, 88, 0.8)
}

.container-hero .overlay .overlay-text .text-detail {
  width: 600px;  
}

.container-hero .customSwiper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn-menu {
  position: fixed;
  top: 25px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px #ccc;
  background: #fff;
}

.btn-menu:hover,
.btn-menu:active,
.btn-menu:focus {
  background: #fff;
}

.overlay .logo {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .container-hero .overlay .overlay-text .text-detail {
    width: auto;  
  }

  .container-hero .overlay, .container-hero .overlay .overlay-text {
    position: unset;
  }
}